@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");


/* Margin box */
* {
    margin: 30;
    padding: 30;
    box-sizing: border-box;
}

/* Backgound color and font style and size */
body {
    background: #abdbcd8c;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
  }

/* Positioning main content of the website */
main {
    max-width: 1000px;
    margin: auto;
    padding: 0.5rem;
    text-align: left; 
  }

/* Positions the contents in the form of box (side by side)*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Unorderd list */
/* Removes the bulletins from the list */
ul {
    list-style: none; 
    display:flex;
}

li {
    margin-right: 1.5rem;
}  

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem 0;
  }
.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 15rem auto;
    height: 15rem;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
    margin: auto;
    overflow: hidden;
  }
.card--avatar {
    width: 100%;
    height: 10rem;
    object-fit: cover;
  }
.card--title {
    color: #222;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 0.5rem;
  }
